MEDIA_SHUTTLE_STORAGE_BACKEND=mongo
MEDIA_SHUTTLE_QUEUE_BACKEND=redis
MEDIA_SHUTTLE_MONGO_URI=mongodb://localhost:27017
MEDIA_SHUTTLE_MONGO_WORKER_COLLECTION=workers
MEDIA_SHUTTLE_REDIS_URL=redis://localhost:6379/0
MEDIA_SHUTTLE_REDIS_PUBLISH_MODE=celery
MEDIA_SHUTTLE_CORE_CREATED_TASK_NAME=core.queue.tasks.process_created_event
MEDIA_SHUTTLE_WORKER_CONTROL_QUEUE_KEY=media_shuttle:worker_control
MEDIA_SHUTTLE_CORE_WORKER_CONTROL_TASK_NAME=core.queue.tasks.apply_worker_control
